html {
  /* To avoid padding from extending the width of the page */
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  font-size: 40px;
}

/* Loader Spinner */
.loader {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.loader img {
  width: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Screen Size for Mobile Devices */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .image-container {
    margin: 10px;
  }
}
